.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-sans-libre-regular {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #FBF8EF;
}

p {
    color: #EE9B00;
    font-size: 2.5em;
    font-family: "Reenie Beanie", cursive;
}

h1 {
    color: #AE2012;
    font-size: 2.5em;
    font-family: "Volkhov", serif;
    text-align: center;
}

h2 {
    color: #CA6702;
    font-size: 1.7em;
    font-family: "Averia Sans Libre", sans-serif;
}

#introP { /*also center aligned like first heading*/
    color: #AE2012;
    text-align: center;
    font-size: 2.35em;
}

.lists {
    color: #005F73;
    font-size: 2.3em;
    font-family: "Reenie Beanie", cursive;
}

img.logo {  /*dis makes logo 40 percent smaller than original*/
    width: 240px;
    height: 90px;
}

table, td, th{
    border-style: solid;
    border-width: 2px;
    border-color: #AE2012;
    border-collapse: collapse;
}

td, th{  /*spaced out padding for border*/
    padding: 2px 4px 0 4px;
}